{% extends "layout.html" %}

{% block title 'Eulenliste' %}

{% block content %}
    <table>
    	<tr>
    		<th>recipient</th>
    		<th>sender</th>
    		<th>frommail</th>
    		<th>subject</th>
    		<th>strippedtext</th>
    		<th>strippedsignature</th>
    		<th>spam</th>
    		<th>datetime</th>
    	</tr>
    	{% for mail in mails %}
    		<tr>
	    		<th>{{ mail.recipient }}</th>
	    		<th>{{ mail.sender }}</th>
	    		<th>{{ mail.originalFrom }}</th>
	    		<th>{{ mail.strippedText }}</th>
	    		<th>{{ mail.strippedSignature }}</th>
	    		<th>{{ mail.spam }}</th>
	    		<th>{{ mail.datetime|date("j.n.Y H:i:s") }}</th>
    		</tr>
    	{% endfor %}
    </table>
{% endblock %}
